# Server Configurations
HOST=127.0.0.1
PORT=8000

# LLM Configurations
# Supported providers: openrouter, openai, deepinfra, google
LLM_PROVIDER=openrouter

# OpenRouter Configuration
OPENROUTER_API_KEY=
OPENROUTER_MODEL=google/gemini-2.5-flash:free

# Optional: Configuration for alternate providers if switched
OPENAI_API_KEY=
OPENAI_MODEL=gpt-4o-mini

DEEPINFRA_API_KEY=
DEEPINFRA_MODEL=meta-llama/Meta-Llama-3-8B-Instruct

GOOGLE_API_KEY=
GOOGLE_MODEL=gemini-2.5-flash
